<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555479679010-0cjlcdco70qb8l2mvia470ftsb2ajurv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555479679010-0cjlcdco70qb8l2mvia470ftsb2ajurv</string>
	<key>API_KEY</key>
	<string>AIzaSyDaBDryJMqLSx12378Zx9YQggYMYZ7rTb0</string>
	<key>GCM_SENDER_ID</key>
	<string>555479679010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allytechllc.flashchant</string>
	<key>PROJECT_ID</key>
	<string>flashchatflutter-9c644</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatflutter-9c644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555479679010:ios:98694b039a8d8a14414a7b</string>
</dict>
</plist>